.panda-bg{
    background-color: #FEEAE9;
}
.panda-watch{
    background-color: #FF589B
    ;
}
.sub-fot{
    background-color: 
    #FFF2F1;
}
.panda-buy-now{

    background-color: #FF589B;
    border: none;
   padding: 9px 25px;
   border-radius: 8px;

}